<ng-include src="'views/partials/navbar.html'"></ng-include>
<div class="container" id='thompson01'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <h1>First Collaboration</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4' id='introToHTML'>
      <h3> The Assignment: Help Dan Van Houten with his Dog Blog</h3>
      <p>This was my first time working with another person's code.
      While I didn't write it myself, this was a good learning experience to understand someone else's work and their styling practices.</p>
      <p>I practiced a little bit of external CSS with the blue background colors.</p>
    </div>
    <div class='col-md-3' id='arrowright'>
      <img id='sexyHoot' src='https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/317513_270844789592836_5137025_n.jpg?oh=2721226b1449239072f0dc607e8704b2&oe=59BE12AA'>
      <img src='../img/thompson/arrow-right.png'>
    </div>
    <div class='col-md-5'>
      <img src='../img/thompson/html3.PNG'>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h2>So Many CSS Properties</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <img id='cssPic' src='../img/thompson/css.svg'>
    </div>
    <div class='col-md-8'>
      <h3>Good CSS Styling and How to Use Classes and IDs</h3>
      <p>I learned how to use class names and ids to identify HTML elements and group related ones.</p>
      <p>CSS prioritizes ids over classes and classes over tags.
      I also played around with many different CSS properties.</p>
      <p>I built upon my friend's code and experimented a lot with different CSS properties</p>
    </div>
  </div>
  <div class='row cssrow'>
    <div class='col-md-2 col-md-offset-2'>
      <h3 class='csstag'>{position: absolute;}</h3>
    </div>
    <div class='col-md-2'>
      <h3 class='csstag'>{margin-top: 15px;}</h3>
    </div>
    <div class='col-md-2'>
      <h3 class='csstag'>{display: block;}</h3>
    </div>
    <div class='col-md-2'>
      <h3 class='csstag'>{list-style: square;}</h3>
    </div>
  </div>
  <div class='row cssrow'>
    <div class='col-md-3'>
      <h3 class='csstag'>{font-size: 12pt;}</h3>
    </div>
    <div class='col-md-3'>
      <h3 class='csstag'>{padding-right: 20px;}</h3>
    </div>
    <div class='col-md-3'>
      <h3 class='csstag'>{text-align: center;}</h3>
    </div>
    <div class='col-md-3'>
      <h3 class='csstag'>{background-color: purple;}</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h2>What problems did I face?</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <img id='sith' src='../img/thompson/sith.jpg'>
    </div>
    <div class='col-md-7'>
      <h3>Absolutes?</h3>
      <p>I tried learning the different position properties of CSS. I experimented with absolute positioning and things got cluttered really quick.</p>
      <p>When I wanted to make a slight change with the whole body of the HTML, it became very difficult. I'm sure when I become more comfortable with the different positionings, I'll get better.</p>
      <ul class='checklist'>
        <li><p>Learn the different positions and how to use them.</p></li>
        <li><p>IDs should be unique</p></li>
      </ul>
    </div>
  </div>
  <div class='row footer'>
    <div class='col-md-3'>
      <a href='/thompson02'><h4>< Second HTML</h4></a>
    </div>
    <div class='col-md-offset-6 col-md-3'>
      <a href='/thompson04'><h4>Test Portfolio > </h4></a>
    </div>
  </div>
</div>
