<ng-include src="'views/partials/navbar.html'"></ng-include>
<div class="container" id='thompson01'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <h1>Humble Beginnings: First HTML</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4' id='introToHTML'>
      <h3> The Assignment: What is HTML </h3>
      <p>Wanting to propel my career in computer-related development,
        I decided to step into the world of web-development in order to push myself and further my education</p>
      <p>Through these first few days, with help from a programming friend, I learned what HTML and CSS were all about and
        even learned what some of the tags did. It was really rewarding to see my code immediately turn into a <em>visual output</em>.</p>
    </div>
    <div class='col-md-6 col-md-offset-2'>
      <img src='../img/thompson/html1.PNG'>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h2>What did I learn?</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <img src='../img/thompson/atomcode1.png.PNG'>
    </div>
    <div class='col-md-8'>
      <h3> The Basic Structure of An HTML File</h3>
      <p> I understood the basic tags when starting a new HTML
        and what each tag should hold.</p>
      <p> This also means I learned proper styling of my code and when to indent <em>(based on child, parent, sibling relationships).</em></p>
      <p> I strive to make my code understandable and organized.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h2>What problems did I face?</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <img src='../img/thompson/inline.PNG'>
    </div>
    <div class='col-md-7'>
      <h3>Keeping Files Modularized</h3>
      <p>I jumped the gun to learn CSS, so I decided to put the style in the HTML file.
      I didn't realize the styling changes are best left to a <em>separate</em> CSS file.</p>
      <p>When I get to JavaScript I should try and do the same for that.</p>
    </div>
  </div>
  <div class='row footer'>
    <div class='col-md-3'>
      <a href='/'><h4>< Home</h4></a>
    </div>
    <div class='col-md-offset-6 col-md-3'>
      <a href='/thompson02'><h4>Second HTML > </h4></a>
    </div>
  </div>
</div>
