<ng-include src="'views/partials/navbar.html'"></ng-include>
<div class="container" id='thompson01'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <h1>Tags: Second HTML</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4' id='introToHTML'>
      <h3> The Assignment: Small Informational Webpage </h3>
      <p>This time, I needed to use a p, img, h1, table, and ul tag to create a small webpage.
        I had to use only html and got to choose what contain I put in it.</p>
      <p>I found a random image and poem online to insert into this webpage and created a 3x4 table. I also purposefully used the different kinds of header tags in this page.</p>
    </div>
    <div class='col-md-3' id='arrowright'>
      <img src='../img/thompson/arrow-right.png'>
    </div>
    <div class='col-md-5'>
      <img src='../img/thompson/html2.png'>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h2>So Many Tags!</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <img src='../img/thompson/html.jpg'>
    </div>
    <div class='col-md-8'>
      <h3>Attributes in an HTML Tag</h3>
      <p>I learned that different <em>HTML tags use different attributes</em> and I learned how to use them. For example,
      the img tag uses a src attribute to get the image whether it is locally stored or through a link.</p>
      <p>I also familiarized myself with the different tags and feel comfortable using them.</p>
      <p>Once styling with CSS is in play, I hope to be able to make the page look more visually appealing</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h2>What problems did I face?</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <img src='../img/thompson/indent.jpg'>
    </div>
    <div class='col-md-7'>
      <h3>Keeping Good Coding Habits</h3>
      <p>I had errors I didn't expect because I messed up the proper sibling relationship in the DOM. I accidentally had an element as a parent and child of the same element.</p>
      <p>I also should <em>pay closer attention to indentation and closing tags</em>, because I forget sometimes.</p>
      <ul class='checklist'>
        <li><p>Indent Properly</p></li>
        <li><p>Make sure to Start and Edn tags before putting content within them</p></li>
        <li><p>Think about the lego block concept of HTML structures</p></li>
      </ul>
    </div>
  </div>
  <div class='row footer'>
    <div class='col-md-3'>
      <a href='/thompson01'><h4>< First HTML</h4></a>
    </div>
    <div class='col-md-offset-6 col-md-3'>
      <a href='/thompson03'><h4>Third HTML > </h4></a>
    </div>
  </div>
</div>
